*
!backgrounds/
!gtk-2.0/
!gtk-3.0/
!gtk-4.0/
!gtk-icons/
!gtk-theme/
!hypr/
!kitty/
!mako/
!neofetch/
!nwg-look/
!sddm/
!waybar/
!xsettingsd/
!rofi/
!refind/
!gtklock/
!cava/
!backgrounds/**/*
!gtk-2.0/**/*
!gtk-3.0/**/*
!gtk-4.0/**/*
!gtk-icons/**/*
!gtk-theme/**/*
!hypr/**/*
!kitty/**/*
!mako/**/*
!neofetch/**/*
!nwg-look/**/*
!sddm/**/*
!waybar/**/*
!xsettingsd/**/*
!rofi/**/*
!refind/**/*
!code-flags.conf
!spotify-flags.conf
!sddm-install.sh
!gtk-install.sh
!gtklock/**/*
!cava/**/*
!.gitignore
!todoist-flags.conf
!limits.conf
!sysctl.conf
!README.md
!screenshots
!screenshots/**/*
!packages.list