* {
    background:     #0F0F0F;
    background-alt: #0F0F0F;
    border:         #0F0F0F;
    foreground:     #FFFFFF;
    selected:       #FFFFFF;
    active:         #FFFFFF;
    urgent:         #FFFFFF;
}
