* {
  border: none;
  border-radius: 0px;
  font-family: "Segoe UI Variable Static Display", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

#window {
  font-weight: bold;
}

#mode {
  background: transparent;
}

window#waybar {
  background-color: rgba(15, 15, 15, 0.75);
  color: #FFFFFF;
  border-radius: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(18, 18, 18, 1);
  border-radius: 32px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
  padding: 8px;
  margin: 8px 4px 8px 4px;
}

tooltip,
menu {
  background-color: rgba(15, 15, 15, 1);
  border-radius: 12px;
}

tooltip label {
  color: #FFFFFF;
  margin: 8px;
}

menu menuitem {
  color: #FFFFFF;
  padding: 8px;
  margin: 2px;
}

menu menuitem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#workspaces,
#mode,
#window,
#pulseaudio,
#cpu,
#memory,
#clock,
#disk,
#custom-separator,
#custom-powermenu,
#taskbar,
#tray {
  padding: 0px 8px 0 8px;
}

#pulseaudio-slider {
  padding: 4px 8px;
  margin: 4px;
}

#pulseaudio-slider slider {
  min-height: 12px;
  min-width: 12px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  background: #FFFFFF;
}

#pulseaudio-slider trough {
  min-height: 6px; 
  min-width: 100px;
  border-radius: 32px;
  background: #1A1A1A;
}

#pulseaudio-slider highlight {
  min-width: 1px;
  border-radius: 32px;
  background: #FFFFFF;
}

#pulseaudio:hover trough {
  background: #242424; 
}

#temperature {
  color: #999;
  font-size: 10px;
  padding: 4px 8px 0 0;
}

#temperature.critical {
  color: #999;
}

#custom-gpu-temperature {
  color: #999;
  font-size: 10px;
  padding: 4px 0 0 0;
}

#battery.warning,
#cpu.warning,
#disk.one.warning,
#memory.warning {
  background-color: inherit;
  color: #ffb86c;
}

#battery.critical,
#cpu.critical,
#disk.one.critical,
#memory.critical,
#network.disconnected,
#pulseaudio.muted {
  color: #ff5555;
}