* {
  all: unset;
  font-family: inherit;
}

window {
  background-color: transparent;
  background-image: url("lockscreen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#clock-label {
  min-width: 320px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16pt;
  padding: 24px;
  margin-bottom: 16px;
}

#input-label {
  font-size: 0;
}

#user-name {
  font-size: 16pt;
}

#input-field {
  border-radius: 16px;
  padding: 16px;
  background-color: alpha(#0F0F0F, 0.7);
}

#warning-label,
#error-label,
#unlock-button {
  margin-top: 16px;
  padding: 8px 2rem;
  margin-bottom: 24px;
}

#unlock-button {
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  background-color: #0F0F0F;
  color: #FFFFFF;
  font-size: 18px;
}